header, footer {
  color: white;
  background-color: #213643;
}
nav {
  background-color: #728B96;
}

h1, h2, h3 {
 font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}

#reviews {
   border-bottom: solid 3pt #213643;
   color: #ed8030;
}

p {
 color: #983C2A;  
}

# element subelement = selects all sub-elements within the element
# element>subelement = selects all children ONLY subelements of the element
# element+subelement = selects the subelement if it directly follows the element
# element~subelement = selects all subelements that share the same parent as the element

section p {
 # this is a contextual selector
 # contextual selectors apply to elements based on their ancestors, siblings, or decendants
 # selects elements based on their context or relation to other elements in the DOM tree
 # decendent selectors are particularly popular
  color: #983C2A;   
}

div p {
 #this selects all p elements that exist somewhere within a div element
  color: #983C2A;  
}

section>p {
  # this selects any p elements that are direct CHILDREN of a section element, not p elements nested within tags in a section
  # this only applies to children, not grandchildren or beyond
  color# 983C2A;
}
h3+p {
  # this selects any p elements that immediately follow an <h3> element
  # child context selector
  color: blue;
}

h3~p {
  # sibling context selector 
  # this selects any <p> elements that share the same parent as an <h3> element
}



